.page {
  background-color: hsl(158, 41%, 95%);
  font-family: 'Poppins';
  padding-top: em(30, $fz);
  padding-bottom: em(30, $fz);
  overflow-x: hidden;

  @media (min-width:1921px ) {
    font-size: 0.8333333vw;
  }

  @media (max-width:1366px ) {
    font-size: 14px;
  }
}

.mobile-only {
  @media (min-width: 1000px) {
    display: none !important;
  }
}

.desktop-only {
  @media (max-width: 1000px) {
    display: none !important;
  }
}

button {
  cursor: pointer;
  font-family: 'Poppins';
}

.container {
  max-width: em(1110, $fz);
  margin: 0 auto;
  padding: em(0 15, $fz);
}

.header {
  margin-bottom: em(120, $fz);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    $fz: 16;
    font-size: em($fz, $fz_base);
    background-color: hsl(144, 44%, 50%);
    border: none;
    font-weight: 500;
    border-radius: em(20, $fz);
    padding: em(8 24, $fz);
    color: hsl(0, 0%, 100%);

    @media (max-width: 1000px) {
      margin-top: em(40, $fz);
      margin-left: em(8, $fz);
    }
  }

  &__info {
    display: flex;
    gap: em(225, $fz);
    align-items: center;
    transition: transform .3s;
    z-index: 10;

    @media screen and (max-width: 1000px) {
      align-items: flex-start;
      flex-direction: column;
      padding: em(20, $fz);
      height: 100vh;
      width: em(280, $fz);
      padding-top: em(50, $fz);
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      background: hsl(0, 0%, 100%);
      gap: em(10, $fz);
    }

    &--open {
      @media screen and (max-width: 1000px) {
        transform: translateX(0);
        box-shadow: em(10 10 45, $fz) hsl(0, 0%, 0%);
      }
    }
  }

  &__close {
    background: none;
    border: none;
    width: em(30, $fz);
    height: em(30, $fz);
    position: absolute;
    top: em(15, $fz);
    right: em(15, $fz);

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      display: block;
      height: 1px;
      background-color: #2d2d2d;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  
  &__img {
    width: em(40, $fz);
    height: em(40, $fz);
    margin-right: em(8, $fz);
  }
  
  &__text {
    $fz: 25;
    font-size: em($fz, $fz_base);
    color: hsl(0, 0%, 18%);
    font-weight: 500;
  }
}

.menu {
  display: flex;
  gap: em(50, $fz);

  @media screen and (max-width: 1000px) {
    flex-direction: column;
    gap: em(30, $fz);
  }

  &__link {
    position: relative;
    color: hsl(0, 0%, 29%);
    text-decoration: none;

    @media screen and (max-width: 1000px) {
      padding-left: em(30, $fz);
    }

    &:hover,
    &--active {
      &::after {
        content: '';
        width: em(21, $fz);
        height: 2px;
        position: absolute;
        bottom: em(-10, $fz);
        left: 50%;
        transform: translateX(-50%);
        background-color: hsl(21, 95%, 70%);

        @media screen and (max-width: 1000px) {
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.orange {
  color: hsl(20, 100%, 64%);
}

.main-content {
  display: flex;

  @media (max-width: 1000px) {
    flex-direction: column-reverse;
  }

  &__column {
    width: 50%;

    @media (max-width: 1000px) {
      width: 100%;
    }
  }

  &__title {
    $fz: 48;
    font-size: em($fz, $fz_base);
    display: block;
    color: hsl(0, 0%, 18%);
    font-weight: 700;
    margin-bottom: em(10, $fz);
    line-height: em(65, $fz);

    @media (max-width: 1000px) {
      text-align: center;
    }
  }

  &__subtitle {
    $fz: 15;
    font-size: em($fz, $fz_base);
    display: block;
    color: hsl(0, 0%, 49%);
    line-height: em(26, $fz);
    font-weight: 500;
    margin-bottom: em(30, $fz);
    max-width: em(444, $fz);

    @media (max-width: 1000px) {
      max-width: 100%;
    }
  }
  
  &__button {
    $fz: 15;
    font-size: em($fz, $fz_base);
    font-weight: 500;
    background-color: hsl(144, 44%, 50%);
    border: none;
    border-radius: em(30, $fz);
    padding: em(10 24, $fz);
    color: hsl(0, 0%, 100%);
    margin-bottom: em(50, $fz);
  }
}

.main-content-search {
  display: flex;
  align-items: center;
  position: relative;
  max-width: em(597, $fz);
  height: em(62, $fz);
  margin-bottom: em(40, $fz);

  &__input {
    $fz: 16;
    font-size: em($fz, $fz_base);
    border: none;
    width: 100%;
    height: em(62, $fz);
    background-color: hsl(0, 0%, 100%);
    border-radius: em(100, $fz);
    padding-left: em(40, $fz);
    padding-right: em(70, $fz);
  }
  
  &__img {
    width: em(30, $fz);
  }

  &__button {
    $fz: 16;
    font-size: em($fz, $fz_base);
    position: absolute;
    right: em(10, $fz);
    width: em(55, $fz);
    height: em(55, $fz);
    border-radius: 50%;
    border: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(144, 44%, 50%);
  }
}

.main-content-info {
  display: flex;
  align-items: center;
  
  &__users {
    display: flex;
    margin-right: em(12, $fz);
  }

  &__text {
    color: hsl(0, 0%, 44%);
    font-weight: 400;
  }

  &__link {
    color: hsl(20, 98%, 67%);
    font-weight: 500;
    text-decoration: none;
  }

  &__img {
    position: relative;
    width: em(38, $fz);
    height: em(38, $fz);
    z-index: 2;

    &:nth-child(1) {
      z-index: 4;
    }

    &:nth-child(2) {
      z-index: 3;
    }

    &:nth-child(3) {
      z-index: 2;
    }

    &:not(:first-child) {
      margin-left: em(-16, $fz);
    }
  }

  &__button {
    $fz: 20;
    font-size: em($fz, $fz_base);
    position: relative;
    z-index: 1;
    margin-left: em(-16, $fz);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(32, $fz);
    height: em(32, $fz);
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
    border: 3px solid hsl(0, 0%, 100%);
    background-color: hsl(20, 100%, 64%);
  }
}

.header-gamburger {
  background: none;
  border: none;
  position: relative;
  width: em(27, $fz);
  height: em(27, $fz);
  cursor: pointer;
  display: inline-flex;
  margin-left: auto;

  &::after,
  &::before,
  &__line {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    display: block;
    background-color: hsl(0, 0%, 18%);
  }

  &::before {
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }

  &::after {
    top: 1px;
    left: 0;
    margin-top: 0;
  }

  &__line {
    top: 50%;
    left: 0;
    margin-top: 0;
  }
}